<div class="footer-overdiv">
    <!-- <div class="overcontacs">
        <div class="kontakt">
            <span>Kontakt:</span>
            <div><a href="tel:01732187619"><img src="./assets/img/icons/phone-62-32.png" alt=""><span>01732187619</span></a></div>
            <div><a href="mailto:info@swetlana-makeupartist.de"><img src="./assets/img/icons/email-5-32.png" alt=""><span>info&#64;swetlana-makeupartist.de</span> </a></div>
        </div>
        <div class="kontakt">
            <span>Social Media:</span>
            <div><a href="https://www.instagram.com/swetlanahorning?igsh=bXBkOTg5YXhieXg2"><img src="./assets/img/icons/Instagram_icon-icons.com_66804.png" alt=""> <span>swetlanahorning</span></a></div>
            <div><a href="https://www.youtube.com/@swetlanahorning9169"><img src="./assets/img/icons/youtube_logo_icon_168737.png" alt=""><span>Swetlana Horning</span></a></div>
        </div>
        <div class="kontakt">
            <span>Rechtlich:</span>
            <div><a href="/"><img src="./assets/img/icons/arrow-24-32.png" alt=""><span>Impressum</span></a></div>
            <div><a href="/"><img src="./assets/img/icons/arrow-24-32.png"><span>Datenschutz</span></a></div>
        </div>
       
    </div>
   
    <div class="copyright">
        
    </div> -->
   <div class="sozialmedia-row">
    <div><a href="tel:01732187619"><img src="./assets/img/icons/phone-7-48.png" alt=""></a></div>
    <div><a href="mailto:info@swetlana-makeupartist.de"><img src="./assets/img/icons/email-5-48.png" alt=""></a></div>
    <div><a href="https://www.instagram.com/swetlanahorning?igsh=bXBkOTg5YXhieXg2"><img src="./assets/img/icons/instgram.png" alt=""></a></div>
    <div><a href="https://www.youtube.com/@swetlanahorning9169"><img src="./assets/img/icons/youtube-48.png" alt=""></a></div>
   </div>

   <div class="kontact">
    <a href="tel:01732187619" alt=""><span>Tel: 01732187619</span></a>
    <a href="mailto:info@swetlana-makeupartist.de"><span>info&#64;swetlana-makeupartist.de</span> </a>
    <span>© Swetlana Horning 2024</span>
   </div>
   <div class="imprint">
    <a href="/"><span>Impressum</span></a>
    <a href="/"><span>Datenschutz</span></a>
</div>
</div>