.footer-overdiv{
    //height: 400px;
    background-color: black;

}

.footer-overdiv{
    padding: 16;
}

.overcontacs{
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.kontakt{
    span{
        color: white;
        font-size: 26px;
        padding: 16px;
        padding-left: 0;
    }

    div{
        margin-top: 20px;
        padding: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 0;

        a{
            cursor: pointer;

            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;

            span{
                padding-left: 20px;
                font-size: 18px;
            }
        }

        img{
            height: 30px;
            width: 30px;
            object-fit: cover;
        }

    }
}

.copyright{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        color: white;
    }
    padding-bottom: 20px;
}



/*----------------------*/

.sozialmedia-row{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    div{
        margin: 16px;
        height: 50px;
        width: 50px;
        background-color: rgb(246, 246, 246);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            background-color: rgb(216, 216, 216);
        }

        a{
            max-width: 30px;
            max-height: 30px;
        }

        img{
            max-width: 30px;
            max-height: 30px;
            object-fit: cover;
        }
    }
}

.kontact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    a{
        padding: 8px;
        text-decoration: none;
    }

    span{
        color: white;
        padding: 8px;
        &:hover{
            color: rgb(213, 213, 213);
        }
    }
    padding-top: 20px;
    padding-bottom: 20px;
}

.imprint{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        padding: 8px;
        text-decoration: none;
    }

    span{
        color: white;
        padding: 8px;
        &:hover{
            color: rgb(213, 213, 213);
        }
    }
    padding-bottom: 20px;
}

.noHover{
    &:hover{
        cursor: default !important;
        color: white !important;
    }
}