<div class="firstView">
    <img src="./assets/img/About.jpg" alt="">
</div>
<div class="text-Aboutme" style="background-color: #151518;">
    
    <div class="AbotMeTextDiv">
        <img src="./assets/img/firstAboutMe.jpg" alt="">
        <div>
            <h1>Über mich</h1>
            <span>
                Im Jahr 2000 begann meine Karriere als Kreativling. Ich lernte den Umgang mit Farben, Kamm und Schere und bin heute eine selbständige Friseur-Meisterin und Make-Up-Artistin.
            </span>
            <br>
            <br>
            <span>
                Mein Ziel ist es, nicht nur die Kundenzufriedenheit zu gewährleisten, sondern auch ihre Erwartungen zu übertreffen. Dies gelingt mir durch meine Leidenschaft und das angesammelte Know-how. Darüber hinaus ist mein Organisationstalent von unschätzbarem Wert, aber auch das Fingerspitzengefühl ist entscheidend.
            </span>
        </div>
    </div>
</div>
<div class="text-Aboutme offers">
    <h2>Sie suchen professionelles Hairstyling, Hochsteckfrisuren oder Make-Up? </h2>
    <div class="AbotMeTextDiv">
        <div>
            <h2>Buchen Sie mich für:</h2>
            <span>
                Fotoshootings für Business, Werbung oder Mode. <br>
                TV-Produktionen, vom Amateurbereich bis zum Fernsehen.<br>
                Anlässe am Catwalk, für Models und Modenschauen.<br>
                Hochzeiten, Brautstylings und den schönsten Tag im Leben.<br>
                Galaabende und Jubiläen.<br>
                Ich setze Sie für jeden Anlass perfekt in Szene...<br>
            </span>
            <div class="button" data-aos="fade-up">
                <button class="btn-2"><span>Kontakt</span></button>
            </div>
        </div>
        
        <img src="../../assets/img/AboutMe/AboutMe3.jpg" alt="" data-aos="fade-left">
    </div>
   
</div>
<app-gallery></app-gallery>