<div class="firstView">
    <img src="./assets/img/About.webp" alt="">
</div>
<div class="text-Aboutme" style="background-color: #151518;">
    
    <div class="AbotMeTextDiv">
        <img src="./assets/img/firstAboutMe.webp" alt="">
        <div>
            <h1>Über mich</h1>
            <span>
                Im Jahr 2000 begann meine Karriere als Kreativling im Umgang mit Farben, Kamm und Schere. Heute bin ich eine selbständige Friseur-Meisterin und Make-Up-Artistin.
            </span>
            <br>
            <br>
            <span>
                Mein Ziel ist es, nicht nur die Kundenzufriedenheit zu gewährleisten, sondern auch Ihre Erwartungen zu übertreffen. Dies gelingt mir durch meine Leidenschaft und das angesammelte Know-how. Darüber hinaus ist mein Organisationstalent von unschätzbarem Wert, aber auch das Fingerspitzengefühl ist entscheidend.
            </span>
            <div class="button" data-aos="fade-up">
                <a  aria-label="Kontaktieren Sie mich" routerLink="/Kontakt"><button class="btn-2"><span></span>Kontaktieren Sie mich</button></a>
            </div>
        </div>

    </div>
</div>
<div class="offers text-Aboutme" >
    <h2 style="padding-top: 20px;">Sie suchen professionelles Hairstyling, Hochsteckfrisuren oder Make-Up? </h2>
    <div class="AbotMeTextDiv otherSide">
        <div>
            <h2>Buchen Sie mich für:</h2>
            <span>
                Hochzeiten, Brautstylings und den schönsten Tag im Leben.<br>
                Fotoshootings für Business, Werbung oder Mode. <br>
                TV-Produktionen, vom Amateurbereich bis zum Fernsehen.<br>
                Anlässe am Catwalk, für Models und Modenschauen.<br>
                Galaabende und Jubiläen.<br>
                Ich setze Sie für jeden Anlass perfekt in Szene...<br>
            </span>
            <div class="button" data-aos="fade-up">
                <a aria-label="Zu meiner Preisliste" routerLink="/Preis"><button class="btn-2"><span>Meine Preisliste</span></button></a>
            </div>
        </div>
        
        <img src="./assets/img/AboutMe/AboutMe15.webp" alt="" data-aos="fade-left">
    </div>
   
</div>
<app-gallery></app-gallery>