<div class="firstView">
    <img src="./assets/img/mainGallaryFoto.webp" alt="Galerie – Make-up, Brautstyling und Frisuren von Swetlana Horning">
</div>
<div class="header">
    <h1>Meine Galerie</h1>
</div>
<div class="overdiv">
    <a style="margin-left: 10px; margin-right: 10px;" aria-label="Galerie-Frisurenwelt" routerLink="/Frisurenwelt"><div>
        <img src="./assets/img/Frisurenwelt/2.webp" alt="Frisurenwelt – Hochsteckfrisuren und Hairstyling">
        <span>Frisurenwelt</span>
        <div class="dark"></div>
    </div></a>
    
    <a style="margin-left: 10px; margin-right: 10px;" aria-label="Galerie-Brautglanz" routerLink="/Brautglanz"><div>
        <img src="./assets/img/Brautglanz/braut2.webp" alt="Brautglanz – Brautstyling und Brautfrisuren">
        <span>Brautglanz</span>
        <div class="dark"></div>
    </div></a>
    
    <a style="margin-left: 10px; margin-right: 10px;" aria-label="Galerie-Kreatives" routerLink="/Kreatives"><div>
        <img src="./assets/img/StylingKreationen/20.webp" alt="Kreatives – Make-up- und Styling-Kreationen">
        <span>Kreatives</span>
        <div class="dark"></div>
    </div></a>
    
</div>