<div class="firstView">
    <img src="./assets/img/mainGallaryFoto.jpeg" alt="">
</div>
<div class="header">
    <h1>Meine Galerie</h1>
</div>
<div class="overdiv">
    <a aria-label="Galerie-Frisurenwelt" routerLink="/Frisurenwelt"><div>
        <img src="./assets/img/Frisurenwelt/2.jpg" alt="">
        <span>Frisurenwelt</span>
        <div class="dark"></div>
    </div></a>
    
    <a aria-label="Galerie-Brautglanz" routerLink="/Brautglanz"><div>
        <img src="./assets/img/Brautglanz/braut2.jpg" alt="">
        <span>Brautglanz</span>
        <div class="dark"></div>
    </div></a>
    
    <a aria-label="Galerie-Kreatives" routerLink="/Kreatives"><div>
        <img src="./assets/img/StylingKreationen/20.jpg" alt="">
        <span>Kreatives</span>
        <div class="dark"></div>
    </div></a>
    
</div>