<div class="firstView">
    <img src="./assets/img/all-24.jpg" alt="">
</div>
<div class="offers">
    <h1>Preisliste</h1>
</div>
<div class="offers">

    <div class="offer-div">
        <h1>Make-up</h1>
        <div>
            <span>Abend Make-Up</span>
            <span>60,00€</span>
        </div>
        <div>
            <span>Gala/Event/...</span>
            <span>75,00€</span>
        </div>
        <div>
            <span>Foto Make-Up inkl.Hairstyling</span>
            <span>ab 90,00€</span>
        </div>
        <div>
            <span>K.Wimpern</span>
            <span>15,00€</span>
        </div>
    </div>
    <div class="offer-div">
        <h1>Brautstyling</h1>
        <div>
            <span>Brautstyling inkl.probetermin</span>
            <span>380,00€</span>
        </div>
        <div>
            <span>
                Frisur und Make-up am Hochzeitstag
                Probetermin inkl. einer Frisur und einem Make-up
                Inklusive aller Stylingprodukte und falscher Wimpern
                Dauer: 2,5 Stunden
                Zuzüglich Anfahrtskostens
            </span>
        </div>
    </div>
    <div class="offer-div">
        <h1>Frisur</h1>
        <div>
            <span>Hochsteckfrisur</span>
            <span>ab 60,00€</span>
        </div>
        <div>
            <span>Waschen, Föhnen</span>
            <span>ab 30,00€</span>
        </div>
        <div>
            <span>Locken oder Wellen</span>
            <span>ab 40,00€</span>
        </div>
    </div>
</div>
<div class="offers">
    <div class="margin-mobile">
        <span >
            Anfahrtskosten: <br>
            Anfahrten im Umkreis von 10 km werden Pauschal mit 10 euro berechnet,
            darüber hinaus 0,50€ pro Kilometer.
        </span>
    </div>
</div>

<div class="kontact">
    <div class="AbotMeTextDiv">
        <img src="./assets/img/kontact.JPG" alt="" data-aos="fade-right">
        <div>
            <div>
                <h1>Bereit für ein einzigartiges Make-up-Erlebnis? Kontaktieren Sie mich!</h1>
            <span>
                Haben Sie Fragen oder möchten Sie die Verfügbarkeit prüfen? Ich bin gerne für Sie da! Nutzen Sie entweder das Kontaktformular oder schreiben Sie mir direkt. Lassen Sie uns gemeinsam Ihre natürliche Schönheit betonen. Ich freue mich darauf, von Ihnen zu hören!
            </span>
            </div>
            <div style="margin-top: 30px;" class="button" data-aos="fade-up">
                <a routerLink="Kontakt"><button class="btn-2"><span>Kontaktieren Sie mich</span></button></a>
            </div>
        </div>
        
    </div>
</div>