.firstView{
    height: 80vh;
    width: 100%;
    img{
        height: 80vh;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.text-Aboutme{
    background-color: #151518;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

h1{
    color: rgb(154, 116, 83);
    font-size: 36px;
    @media (max-width:1300px) {
      text-align: center;
    }
}

span{
    color: rgb(225, 220, 215);
    line-height: 25px;
    @media (max-width:1300px) {
      text-align: center;
    }
}

.AbotMeTextDiv{
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    overflow: hidden;
    img{
        height: 450px;
        width: 350px;
        object-fit: cover;
        border-radius: 10px;
        @media (max-width:1300px) {
          width: 300px;
          margin-top: 50px;
        }
    }

    div{
        margin-left: 50px;
        margin-right: 50px;
        max-width: 800px;
        @media (max-width:1300px) {
          min-width: 300px !important;
        }
    }

    @media (max-width:1300px) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
}

.firstSteps{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    max-width: 800px;
    border: 1px solid rgb(154, 116, 83);
    border-radius: 10px;
    padding: 16px;
    margin: 16px;
    span{
        max-width: 800px;
    }
}

.textOverdiv{
    padding-top: 10px;
    background-color: #151518;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{

        color: #151518;
        font-size: 28px;
        padding: 16px;
    }

    background-image: url(../../assets/img/braut16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.backgroundImage{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(1px);
    padding: 16px;
    margin-bottom: 16px;
}

.preisBraut{
    background-color: #151518;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.kontact{
    background-color: #1d1d20;
    min-height: 550px;
}

.AbotMeTextDiv{
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    img{
        height: 500px;
        width: 400px;
        object-fit: cover;
        border-radius: 10px;
    }

    div{
        margin-left: 50px;
        margin-right: 50px;
        max-width: 800px;
        min-width: 600px;
    }
}

button {
    border-radius: 5px;
    padding: 8px;
    min-width: 180px;
    max-width: 230px;
    border: 1px solid white !important;
    font-family: 'Open Sans';
    margin-right: 50px;
    position: relative;
    background: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    overflow: hidden;
  
    &::before,
    &::after {
    border: none;
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      transition: all 0.2s linear;
      background: #fff;
    }
  
    span {
      &::before,
      &::after {
        content: '';
        width: 2px;
        height: 0;
        position: absolute;
        transition: all 0.2s linear;
        background: #fff;
      }
    }
  
    &:hover::before,
    &:hover::after {
      width: 100%;
    }
  
    &:hover span::before,
    &:hover span::after {
      height: 100%;
    }
}

.btn-2 {
    position: relative;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    overflow: hidden;
  
    &::before,
    &::after {
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      transition: all 0.2s linear;
      background: #fff;
      transition-delay: 0s;
    }
  
    span {
      &::before,
      &::after {
        content: '';
        width: 2px;
        height: 0;
        position: absolute;
        transition: all 0.2s linear;
        background: #fff;
        transition-delay: 0.2s;
      }
    }
  
    &::before {
      right: 0;
      top: 0;
    }
  
    &::after {
      left: 0;
      bottom: 0;
    }
  
    span::before {
      left: 0;
      top: 0;
    }
  
    span::after {
      right: 0;
      bottom: 0;
    }
  
    &:hover::before,
    &:hover::after {
      transition-delay: 0.2s;
    }
  
    &:hover span::before,
    &:hover span::after {
      transition-delay: 0s;
    }
  }