<div class="firstView">
    <img src="./assets/img/photo3.jpg" alt="">
</div>
<div class="text-Aboutme" style="background-color: #151518;">
    
    <div class="AbotMeTextDiv">
        <img src="./assets/img/Brautglanz/braut12.jpg" alt="">
        <div>
            <h1>Herzlichen Glückwunsch zu eurer bevorstehenden Hochzeit! </h1>
            <span>
                Hast du schon das "Etwas Blaues", das "Etwas Geliehenes", das "Etwas Neues" und das "Etwas Altes" gefunden, aber das perfekte Brautstyling mit einer passenden Brautfrisur und einem auf dich abgestimmten Make-up fehlt noch? Dann bist du bei mir genau richtig! Als erfahrene Makeupartistin biete ich dir ein umfangreiches Brautstyling-Paket, das alles beinhaltet, was du für deinen perfekten Look benötigen.
            </span>
            <br>
            <br>
            <span>
                Gemeinsam werden wir bei einem Probetermin das individuell perfekte Styling für dich finden, dass zu deinem Stil, deinem Kleid und deinen Blumen passt. Erlebe deinen Traum-Brautstyling mit professionellem Make-up und atemberaubender Brautfrisur, die perfekt zu dir passen! Kontaktiere mich noch heute, um deine Hochzeitsträume wahr werden zu lassen. Ich freue mich darauf, dich auf deinem Weg zur strahlenden Braut zu begleiten!
            </span>
        </div>
    </div>
</div>
<div class="textOverdiv">
    <h1>Perfektes Brautstyling: Schritte zur Reservierung und individuellen Gestaltung</h1>
    <div class="backgroundImage">
        <div class="firstSteps">
            <div class="text">
                <span>
                    Um die Verfügbarkeit für dein Styling an euren Hochzeitstag zu prüfen, benötige ich das Datum eurer Hochzeit, die Stadt, in der das Styling stattfinden soll, sowie die Uhrzeit der Trauung. Die Prüfung der Verfügbarkeit ist für dich ganz unverbindlich. Nach der Prüfung können wir gerne ein Telefonat führen, in dem wir viele offene Fragen besprechen und Details klären können.
                </span>
            </div>
        </div>
        <div class="firstSteps">
            <div class="text">
                <span>
                    Um meine Dienstleistung zu reservieren, ist eine Anzahlung von 80 Euro erforderlich. Bitte beachte, dass diese Zahlung nur für den von dir gebuchten Tag und die vereinbarte Uhrzeit gilt. Erst nach Eingang der Anzahlung kann deine Reservierung bestätigt werden.
                </span>
            </div>
        </div>
        <div class="firstSteps">
            <div class="text">
                <span>
                    Jetzt wird es kreativ! Unser gemeinsamer Probe-Termin findet in meinen eigenen vier Wänden statt, um Dein Traum-Styling zu entwerfen. Gerne kannst Du eine Begleitperson mitbringen. Der Probe-Termin findet an Wochentagen statt und sollte spätestens um 16 Uhr beginnen. Bitte plane genügend Zeit von 3-4 Stunden ein. Wir besprechen gemeinsam, welches Styling Dich am besten hervorhebt und erstellen eine individuelle Frisur und ein passendes Make-up. Falls Du sicherstellen möchtest, dass wir das bestmögliche Ergebnis erzielen und deshalb zusätzliche Optionen wie eine zweite Frisur oder ein zweites Make-up wünschst, sprechen wir gerne darüber. Bitte beachte, dass für diese Zusatzleistungen ein Aufpreis anfallen kann und wir gegebenenfalls einen weiteren Termin vereinbaren müssen.
                </span>
            </div>
        </div>
        <div class="firstSteps">
            <div class="text">
                <span>
                    An deinem großen Tag werde ich zu dir kommen, um dein Brautstyling durchzuführen. Dieser Prozess dauert in der Regel etwa 2,5 Stunden. Selbstverständlich werde ich mich auch um das Styling deiner Trauzeugin, Schwester oder Mutter kümmern. Allerdings sollte dies im Voraus abgesprochen werden, um genügend Zeit dafür einzuplanen.
                </span>
            </div>
        </div>
        <div class="firstSteps">
            <div class="text">
                <span>
                    Bitte beachte, dass bei zeitintensiven Frisuren, zum Beispiel bei sehr       dicken und langen Haaren, ein Aufpreis von 20 Euro anfallen kann. Der genaue Preis wird jedoch im Voraus mit dir abgesprochen, um Missverständnisse zu vermeiden. 
                </span>
            </div>
        </div>
    </div>
    
</div>
<div class="preisBraut">
    <h1>Brautstyling-Preise im Überblick</h1>
    <div class="firstSteps">
        <div class="text">
            <span>
                Brautstyling Paket: 380 Euro <br>
                Frisur und Make-up am Hochzeitstag <br>
                Probetermin inkl. einer Frisur und einem Make-up <br>
                Inklusive aller Stylingprodukte und falscher Wimpern <br>
                Dauer: 2,5 Stunden <br>
                Zuzüglich Anfahrtskosten <br>
                <br>
                Anfahrtskosten: <br>
                Anfahrten im Umkreis von 10 km werden Pauschal mit 10 euro berechnet, <br> darüber hinaus 0,50€ pro Kilometer.
                
            </span>
        </div>
    </div>
</div>
<div class="kontact">
    <div class="AbotMeTextDiv">
        <img src="./assets/img/kontact.JPG" alt="" data-aos="fade-right">
        <div>
            <div>
                <h1>Bereit für ein einzigartiges Make-up-Erlebnis? Kontaktieren Sie mich!</h1>
            <span>
                Haben Sie Fragen oder möchten Sie die Verfügbarkeit prüfen? Ich bin gerne für Sie da! Nutzen Sie entweder das Kontaktformular oder schreiben Sie mir direkt. Lassen Sie uns gemeinsam Ihre natürliche Schönheit betonen. Ich freue mich darauf, von Ihnen zu hören!
            </span>
            </div>
            <div style="margin-top: 30px;" class="button" data-aos="fade-up">
                <button class="btn-2"><span>Kontaktieren Sie mich</span></button>
            </div>
        </div>
        
    </div>
</div>
<app-gallery></app-gallery>
