<div style="background-color: #151518; padding-bottom: 500px;" >
    <div class="overdiv">
        <div *ngFor="let i of allImages;let index = index" class="imageContainer">
            <img (click)="openSlider(index)" data-aos="zoom-in" data-aos-duration="500" src="{{ i }}" alt="">
        </div>
    </div>
    <div class="button" data-aos="fade-up">
        <button class="btn-2"><span>Zur meiner Galerie</span></button>
    </div>
</div>
<app-slideshow *ngIf="open" [images]="allImages" [wichone]="setImage"></app-slideshow>