.overdiv{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #151518;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.imageContainer{
    margin: 16px !important;

    img{
        cursor: pointer;
        max-height: 400px !important;
        max-width: 600px !important;
        object-fit: cover;
        transition: 225ms all ease-in-out;

        &:hover{
            transform: scale(1.1);
        }
    }
}

img[preload] {
    display: none;
}

.button{
    margin-top: 50px;
    font-family: 'Open Sans';
    margin-left: 0 !important;
    display: flex;
    justify-content: center !important;
    width: 100%;
}

button {
    border-radius: 5px;
    padding: 8px;
    min-width: 180px;
    max-width: 230px;
    border: 1px solid white !important;
    font-family: 'Open Sans';
    margin-right: 50px;
    position: relative;
    background: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    overflow: hidden;
  
    &::before,
    &::after {
    border: none;
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      transition: all 0.2s linear;
      background: #fff;
    }
  
    span {
      &::before,
      &::after {
        content: '';
        width: 2px;
        height: 0;
        position: absolute;
        transition: all 0.2s linear;
        background: #fff;
      }
    }
  
    &:hover::before,
    &:hover::after {
      width: 100%;
    }
  
    &:hover span::before,
    &:hover span::after {
      height: 100%;
    }
}
  
.btn-2 {
    position: relative;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    overflow: hidden;
  
    &::before,
    &::after {
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      transition: all 0.2s linear;
      background: #fff;
      transition-delay: 0s;
    }
  
    span {
      &::before,
      &::after {
        content: '';
        width: 2px;
        height: 0;
        position: absolute;
        transition: all 0.2s linear;
        background: #fff;
        transition-delay: 0.2s;
      }
      font-size: 18px !important;
    }
  
    &::before {
      right: 0;
      top: 0;
    }
  
    &::after {
      left: 0;
      bottom: 0;
    }
  
    span::before {
      left: 0;
      top: 0;
    }
  
    span::after {
      right: 0;
      bottom: 0;
    }
  
    &:hover::before,
    &:hover::after {
      transition-delay: 0.2s;
    }
  
    &:hover span::before,
    &:hover span::after {
      transition-delay: 0s;
    }
}
