<div class="over-div destop">
    <div class="navi">
        <div>
            <img src="./assets/img/Logo.png" alt="">
        </div>
        <a routerLink="/Home" [routerLinkActive]="'active-link'" >HOME</a>
        <a routerLink="/Galerie" [routerLinkActive]="'active-link'" >GALERIE</a>
        <a routerLink="/AboutMe" [routerLinkActive]="'active-link'">ÜBER-MICH</a>
        <a routerLink="/Braut" [routerLinkActive]="'active-link'">BRAUT</a>
        <a routerLink="/Preis" [routerLinkActive]="'active-link'">PREISE</a>
    </div>
    <a routerLink="/Kontakt"><button class="btn-2"><span  [routerLinkActive]="'active-link'">ANFRAGE SENDEN</span></button></a>
</div>

<div (click)="openNav()" class="close" *ngIf="!openMobile">
    <img src="./assets/img/icons/menu.png" alt="">
</div>

<div (click)="openNav()" class="close"  *ngIf="openMobile">
    <img src="./assets/img/icons/x.png" alt="">
</div>

<div class="over-div mobile" *ngIf="openMobile">

    <div class="navi">
        <div>
            <img src="./assets/img/Logo.png" alt="">
        </div>
        <a routerLink="/Home" [routerLinkActive]="'active-link'" >HOME</a>
        <a routerLink="/Galerie" [routerLinkActive]="'active-link'" >GALERIE</a>
        <a routerLink="/AboutMe" [routerLinkActive]="'active-link'">ÜBER-MICH</a>
        <a routerLink="/Braut" [routerLinkActive]="'active-link'">BRAUT</a>
        <a routerLink="/Preis" [routerLinkActive]="'active-link'">PREISE</a>
    </div>
    <a routerLink="/Kontakt"><button class="btn-2"><span  [routerLinkActive]="'active-link'">ANFRAGE SENDEN</span></button></a>
</div>
