<div class="over-div destop">
    <div class="navi">
        <div>
            <img src="./assets/img/Logo.webp" alt="">
        </div>
        <a aria-label="Home-Seite" routerLink="/Home" [routerLinkActive]="'active-link'" >HOME</a>
        <a aria-label="Galerie-Seite" routerLink="/Galerie" [routerLinkActive]="'active-link'" >GALERIE</a>
        <a aria-label="AboutMe-Seite" routerLink="/AboutMe" [routerLinkActive]="'active-link'">ÜBER-MICH</a>
        <a aria-label="Braut-Seite" routerLink="/Braut" [routerLinkActive]="'active-link'">BRAUT</a>
        <a aria-label="Preis-Seite" routerLink="/Preis" [routerLinkActive]="'active-link'">PREISE</a>
    </div>
    <a aria-label="Kontakt-Seite" routerLink="/Kontakt"><button class="btn-2"><span  [routerLinkActive]="'active-link'">ANFRAGE SENDEN</span></button></a>
</div>

<div (click)="openNav()" class="close" *ngIf="!openMobile">
    <img src="./assets/img/icons/menu.webp" alt="">
</div>

<img  class="mobile-logo" src="./assets/img/Logo.webp" alt="">


<div class="over-div mobile" *ngIf="openMobile">
    <img (click)="openNav()" class="closeButton" src="./assets/img/icons/x.webp" alt="">
    <div class="navi">

        <div>
            <img src="./assets/img/Logo.webp" alt="">
        </div>
        <a  aria-label="Home-Seite" routerLink="/Home" (click)="openNav()" [routerLinkActive]="'active-link'" >HOME</a>
        <a aria-label="Galerie-Seite" routerLink="/Galerie" (click)="openNav()" [routerLinkActive]="'active-link'" >GALERIE</a>
        <a aria-label="AboutMe-Seite" routerLink="/AboutMe" (click)="openNav()" [routerLinkActive]="'active-link'">ÜBER-MICH</a>
        <a aria-label="Braut-Seite" routerLink="/Braut" (click)="openNav()" [routerLinkActive]="'active-link'">BRAUT</a>
        <a aria-label="Preis-Seite" routerLink="/Preis" (click)="openNav()" [routerLinkActive]="'active-link'">PREISE</a>
    </div>
    <a aria-label="Kontakt-Seite" routerLink="/Kontakt" (click)="openNav()"><button class="btn-2"><span  [routerLinkActive]="'active-link'">ANFRAGE SENDEN</span></button></a>
</div>
