<div class="previewAboutMe">
    <div>
        <div>
            <img data-aos="fade-right" data-aos-duration="1500" src="./assets/img/firstAboutMe.jpg" alt="">
        </div>
        <div>
            <h1>Swetlana Horning</h1>
            <span>
                Ich bin zutiefst davon überzeugt, dass Make-up die Kraft hat,
                dein Selbstbewusstsein zu stärken und dir dadurch ein fantastisches Gefühl zu verleihen.
            </span>
        </div>
        <div>
            
        </div>
    </div>
</div>