.previewAboutMe{
    background-color: #1d1d20;
    //height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    overflow-x: hidden;

    @media (max-width:1000px) {
      max-height: none;

      div{
        flex-direction: column-reverse !important;
        align-items: center;

        
        h1,h2,span{
          margin-left: 10px;
          margin-right: 10px;
          text-align: center;
        }

      }
      
    }

    div{
      padding: 8px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .image{
        max-width: 550px;
        img{
            border-radius: 10px;
            object-fit: cover;
            height:550px;
            width: 450px;
        }

        @media (max-width:800px) {
          max-width: 350px;

          img{
            height:450px;
            width: 350px;
          }
        }

       @media (max-width:400px) {
        max-width: 300px;

        img{
          height:400px;
          width: 300px;
        }
       } 
    }

    .text{
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        max-width: 700px;
        margin-left: 20px;
        margin-right: 20px;

        h1{
            font-size: 38px;
            font-weight: 400;
            display: flex;
            justify-content: flex-start !important;
            color: rgb(154, 116, 83);
            margin-bottom: 0;
        }

        h2{
            font-weight: 300;
            color: rgb(180, 142, 104);
        }
    
        span{
           color:  rgb(225, 220, 215);
           font-size: 18px;
        }
    }

}

.button{
    margin-top: 50px;
    font-family: 'Open Sans';
    margin-left: 0 !important;
    display: flex;
    justify-content: flex-start !important;
    padding: 0 !important;
}

button {
    border-radius: 5px;
    padding: 8px;
    min-width: 180px;
    max-width: 230px;
    border: 1px solid white !important;
    font-family: 'Open Sans';
    margin-right: 50px;
    position: relative;
    background: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    overflow: hidden;
  
    &::before,
    &::after {
    border: none;
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      transition: all 0.2s linear;
      background: #fff;
    }
  
    span {
      &::before,
      &::after {
        content: '';
        width: 2px;
        height: 0;
        position: absolute;
        transition: all 0.2s linear;
        background: #fff;
      }
    }
  
    &:hover::before,
    &:hover::after {
      width: 100%;
    }
  
    &:hover span::before,
    &:hover span::after {
      height: 100%;
    }
}
  
.btn-2 {
    position: relative;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    overflow: hidden;

    @media (max-width:1000px){
      margin: 0;

    }
  
    &::before,
    &::after {
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      transition: all 0.2s linear;
      background: #fff;
      transition-delay: 0s;
    }
  
    span {
      &::before,
      &::after {
        content: '';
        width: 2px;
        height: 0;
        position: absolute;
        transition: all 0.2s linear;
        background: #fff;
        transition-delay: 0.2s;
      }
      font-size: 18px ;

      @media (max-width:1000px) {
        font-size: 16px !important;
      }
    }
  
    &::before {
      right: 0;
      top: 0;
    }
  
    &::after {
      left: 0;
      bottom: 0;
    }
  
    span::before {
      left: 0;
      top: 0;
    }
  
    span::after {
      right: 0;
      bottom: 0;
    }
  
    &:hover::before,
    &:hover::after {
      transition-delay: 0.2s;
    }
  
    &:hover span::before,
    &:hover span::after {
      transition-delay: 0s;
    }
  }