
<div *ngFor="let i of previewArray">
    <div class="previewAboutMe"  [ngStyle]="i.reverse ? {'background-color': '#151518'} : {}">
        <div [ngStyle]="i.reverse ? {'flex-direction': 'row-reverse'} : {}">
            <div class="image">
                <img [attr.data-aos]="i.reverse ? 'fade-left' : 'fade-right'" data-aos-duration="1000" src="{{ i.src }}" alt="">
            </div>
            <div class="text">
                <h1>{{ i.title }}</h1>
                <span>
                    {{i.span}}
                </span>
                <div class="button">
                    <a>{{i.button}}</a>
                </div>
            </div>
        </div>
    </div>
</div>